<ion-modal-view>
  <ion-header-bar class="bar-calm">
    <div class="buttons">
      <button class="button button-clear" ng-click="closeAmbulans()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list card">

      <a href="tel:+62-85721211774" class="item item-image" >
        <img class="popup-main" src="img/phone.png">
        <h2 class="calm">TELPON</h2>
        <br>
      </a>

      <a href="#/app/maplist" ng-click="closeAmbulans()" class="item item-image">
        <img class="popup-main" src="img/map.png">
        <h2 class="calm">PETA</h2>
        <br>
      </a>
    </div>
  </ion-content>
</ion-modal-view>
