<ion-view view-title="Darurat!">
  <ion-content>
	<div class="list card">

	  <div class="item item-image">
	    <img class="instansi-button" id="ambulan-button" ng-click="ambulans()" src="img/ambulans.png">
	  </div>

		<a class="item assertive instansi-desc" ng-click="ambulans()" href="#">
		    Ambulans
		  </a>

	</div>

	<div class="list card">

	  <div class="item item-image">
	    <img class="instansi-button" id="damkar-button" ng-click="ambulans()" src="img/damkar.png">
	  </div>

		<a class="item damkar instansi-desc" ng-click="ambulans()" href="#">
		    Pemadam Kebakaran
		  </a>
	</div>

	<div class="list card">

	  <div class="item item-image">
	    <img class="instansi-button" id="polisi-button" ng-click="ambulans()" src="img/polisi.png">
	  </div>

		<a class="item energized instansi-desc" ng-click="ambulans()" href="#">
		    Polisi
		  </a>
	</div>
  </ion-content>
</ion-view>
