<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Polisi</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closePolisi()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list card">

      <a href="tel:+62-85798977221" class="item item-image" >
        <img class="popup-main" src="img/phone.png">
        <h2 class="calm">TELPON</h2>
        <br>
      </a>

      <div class="item item-image">
        <img class="popup-main" src="img/map.png">
        <h2 class="calm">PETA</h2>
        <br>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
