<ion-view view-title="Shake Settings">      
    <ion-content>
		<div class="card">
		  <div class="item item-divider calm">
		    Instansi yang dihubungi
		  </div>
		  <div class="item item-text-wrap">
		    <div class="list">

			  <label class="item item-radio" >
			    <input type="radio" name="group" checked="checked">
			    <div class="item-content">
			      Polisi
			    </div>
			    <i class="radio-icon ion-checkmark"></i>
			  </label>
			  <label class="item item-radio">
			    <input type="radio" name="group">
			    <div class="item-content">
			      Ambulans
			    </div>
			    <i class="radio-icon ion-checkmark"></i>
			  </label>
			  <label class="item item-radio">
			    <input type="radio" name="group">
			    <div class="item-content">
			      Pemadam Kebakaran
			    </div>
			    <i class="radio-icon ion-checkmark"></i>
			  </label>
			  <label class="item item-radio">
			    <input type="radio" name="group">
			    <div class="item-content">
			      Custom Number
			    </div>
			    <i class="radio-icon ion-checkmark"></i>
			  </label>

			</div>
		  </div>
		</div>
		  <div class="card">
			  <div class="item item-divider calm">
			    Custom Number
			  </div>
			  <div class="item item-text-wrap">
			    <div class="list">

				  <div class="item item-input-inset">
				    <label class="item-input-wrapper">
				      <input type="text" placeholder="+62-xxxx-xxxx">
				    </label>
				    <button class="button button-small button-calm">
				      Simpan
				    </button>
				  </div>

				</div>
			  </div>
		  </div>
    </ion-content>
</ion-view>